<div class="building-page">
  <div class="container">
    <div class="building-item"
         *ngIf="building"
         style="margin-bottom: 48px"
         [ngClass]="{ 'visited': building?.visited }">
      <h2 class="heading-2">
        {{ building?.name }}
        <span class="medium" *ngIf="building?.visited">visited</span>
      </h2>
      <p class="medium"><strong>Location:</strong> <br>
        Latitude: {{ building?.location.latitude }} <br>
        Longitude: {{ building?.location.longitude }}
      </p>
      <p class="medium"><strong>Description:</strong> {{ building?.description }}</p>
      <p class="medium"><strong>Owner:</strong> {{ building?.created_by.username }}</p>

      <div class="building-item__button" *ngIf="!building?.visited && (userInfo$ | async).role!==userRoles.ADMIN">
        <app-sb-button
          [buttonText]="'Visit building'"
          (buttonClicked)="visitBuilding()"
        ></app-sb-button>
      </div>
    </div>


    <div class="chat-section">
      <h2 class="heading-2">Chat about this building</h2>
      <div class="chat-container">
        <div class="message medium"
             *ngFor="let message of messages"
             [class.user-message]="(userInfo$ | async).id === message.user.id"
        >
          <strong>
            {{
              (userInfo$ | async).id === message.user.id ? 'You' : message.user.username
            }}
          </strong> {{ message.created_at | date: 'shortTime' }} <br>
          {{ message.text }}
        </div>
      </div>

      <div class="chat-input" *ngIf="building?.visited || (userInfo$ | async).role===userRoles.ADMIN">
        <div class="chat-input__input">
          <app-sb-input
            [control]="newMessage"
            [placeholder]="'Send your message...'"
          ></app-sb-input>
        </div>

        <div class="chat-input__button">
          <app-sb-button
            [buttonText]="'Send message'"
            (buttonClicked)="sendMessage()"
          ></app-sb-button>
        </div>
      </div>
    </div>
  </div>

</div>
