<div class="reg-page">
  <div class="reg-page__main">
    <ng-container [ngSwitch]="regStep">

      <ng-container *ngSwitchCase="regSteps.ENTER_EMAIL">
        <h3 class="reg-page__main-title heading-1">Enter your email</h3>

        <div class="reg-page__main-form">
          <div class="reg-page__main-form-control">
            <app-sb-input
              [control]="emailControl"
              [controlName]="'Email*'"
              [placeholder]="'Enter your email...'"
            ></app-sb-input>
            <ng-container
              *ngTemplateOutlet="fieldError; context: { $implicit: emailControl }"
            ></ng-container>
          </div>

          <div class="reg-page__main-form-submit">
            <app-sb-button
              [buttonText]="'Confirm'"
              (buttonClicked)="verifyEmail()"
            ></app-sb-button>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="regSteps.SETUP_PASSWORD">
        <h3 class="reg-page__main-title heading-1">Setup your password</h3>

        <div class="reg-page__main-form">
          <div class="reg-page__main-form-control">
            <app-sb-input
              [control]="getControl(passwordForm, 'password_1')"
              [controlName]="'Password*'"
              [placeholder]="'Enter your password...'"
            ></app-sb-input>
            <ng-container
              *ngTemplateOutlet="fieldError; context: { $implicit: passwordForm.get('password_1') }"
            ></ng-container>
          </div>

          <div class="reg-page__main-form-control">
            <app-sb-input
              [control]="getControl(passwordForm, 'password_2')"
              [controlName]="'Password*'"
              [placeholder]="'Repeat your password...'"
            ></app-sb-input>
            <ng-container
              *ngTemplateOutlet="fieldError; context: { $implicit: passwordForm.get('password_2') }"
            ></ng-container>
          </div>

          <div class="reg-page__main-form-submit">
            <app-sb-button
              [buttonText]="'Setup password'"
              (buttonClicked)="setupPassword()"
            ></app-sb-button>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="regSteps.CREATE_PROFILE">
        <h3 class="reg-page__main-title heading-1">Create your profile</h3>

        <div class="reg-page__main-form">
          <div class="reg-page__main-form-control">
            <app-sb-input
              [control]="getControl(userInfoForm, 'first_name')"
              [controlName]="'First name*'"
              [placeholder]="'Enter your first name...'"
            ></app-sb-input>
            <ng-container
              *ngTemplateOutlet="fieldError; context: { $implicit: userInfoForm.get('first_name') }"
            ></ng-container>
          </div>

          <div class="reg-page__main-form-control">
            <app-sb-input
              [control]="getControl(userInfoForm, 'last_name')"
              [controlName]="'Last name*'"
              [placeholder]="'Enter your last name...'"
            ></app-sb-input>
            <ng-container
              *ngTemplateOutlet="fieldError; context: { $implicit: userInfoForm.get('last_name') }"
            ></ng-container>
          </div>

          <div class="reg-page__main-form-control">
            <app-sb-input
              [control]="getControl(userInfoForm, 'phone_number')"
              [controlName]="'Phone number*'"
              [placeholder]="'Enter your phone number...'"
            ></app-sb-input>
            <ng-container
              *ngTemplateOutlet="fieldError; context: { $implicit: userInfoForm.get('phone_number') }"
            ></ng-container>
          </div>

          <div class="reg-page__main-form-submit">
            <app-sb-button
              [buttonText]="'Finish registration'"
              (buttonClicked)="registerUser()"
            ></app-sb-button>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #fieldError let-control>
  <p class="field-error medium-small"
     *ngIf="control.touched && control.dirty && control.errors">
    <app-base-icon
      [name]="'warning_icon'"
    ></app-base-icon>
    {{ control.errors?.message }}

  </p>
</ng-template>
