.reg-page {
  padding-top: 180px;

  &__main {
    width: max-content;
    margin: 0 auto;

    &-title {
      text-align: center;
      margin-bottom: 64px;
    }

    &-form {
      &-control {
        width: 300px;
        margin-bottom: 16px;
      }

      &-submit {
        width: 300px;
        height: 48px;
        margin: 32px auto 0;
      }
    }
  }
}
