<div class="rankings-page">
  <h1 class="rankings-page__title heading-1">User Rankings</h1>

  <p
    class="medium"
    style="margin-bottom: 16px"
  >Choose property by which you want to sort players</p>

  <select
    class="medium"
    [(ngModel)]="rankingOption"
    (ngModelChange)="onSelectOptionPick($event)"
  >
    <title>Sort by:</title>
    <option [value]="rankingOptions.VISITS">Visits</option>
    <option [value]="rankingOptions.ACHIEVEMENTS">Achievements</option>
  </select>

  <div class="table-container">
    <table>
      <thead>
      <tr class="medium">
        <th>Rank</th>
        <th>Username</th>
        <th>Email</th>
        <th>{{ columnTitle }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users; let i = index" class="medium">
        <td>{{ i + 1 }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ rankingOption === rankingOptions.VISITS ? user.visits_count : user.achievements_count }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
