@import "../../../../assets/styles/shared/vars";

.navbar {
  width: 100%;
  background-color: $black;
  padding: 10px 0;

  &__main {
    display: flex;
    width: 100%;
    padding: 8px 0;

    &-item {
      margin-right: 15px;
      cursor: pointer;
      transition: color 0.3s;
      color: $text-fifth;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: $text-third;
      }

      &.active,
      &:active {
        color: $accent-primary-default;
        //font-weight: bold;
      }
    }
  }

}
