@import "../../../../../../assets/styles/shared/vars";
@import "../../../../../../assets/styles/shared/fonts";
@import "../../../../../../assets/styles/shared/mixins"; // Update with the actual path to your mixins file

.profile-page {
  background-color: $bg-middle; // Add background color
  padding: 20px;

  .profile-details {
    padding: 40px 20px;
    background-color: $white; // Add background color
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;


    .heading-1 {
      margin-bottom: 20px;
    }

    .medium {
      margin-bottom: 10px;
    }

    &__buttons {
      .logout {
        margin-bottom: 16px;
      }
    }
  }

  .user-lists {
    display: flex;
    gap: 20px;
    overflow-x: auto; // Enable horizontal scrolling
    padding: 20px;
    background-color: $white; // Add background color
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .list-section {
      min-width: 300px;
      flex: 0 0 auto; // Prevent lists from shrinking

      .heading-2 {
        margin-bottom: 20px;
      }

      .vertical-list {
        gap: 10px;
        padding: 0;
        max-height: 300px;
        overflow-y: auto;

        li {
          margin-bottom: 10px;
          background-color: $accent-primary-light; // Add background color for list items
          padding: 10px;
          border-radius: 5px;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        }
      }

      .horizontal-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 16px;
      }
    }
  }
}

.building-item {
  background-color: $white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  * {
    cursor: default;
  }

  h2 {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 8px;
  }


}

.building-item.visited {
  background-color: lighten($accent-primary-default, 40%);
  color: darken($text-main, 20%);
  border: 2px solid $accent-primary-default;

  .visit-button {
    background-color: $accent-primary-default;

    &:hover {
      background-color: $accent-secondary-light;
    }

    &:active {
      background-color: $accent-secondary-light;
    }
  }
}
