<div class="profile-page">
  <section class="profile-details">
    <div>
      <h1 class="heading-1">User Profile</h1>
      <p class="medium"><strong>Role:</strong> {{ (userInfo$ | async).role }}</p>
      <p class="medium"><strong>Email:</strong> {{ (userInfo$ | async).email }}</p>
      <p class="medium"><strong>Username:</strong> {{ (userInfo$ | async).username }}</p>
    </div>

    <div class="profile-details__buttons">
      <div class="logout">
        <app-sb-button
          [buttonText]="'Log out'"
          (buttonClicked)="logOut()"
        ></app-sb-button>
      </div>
    </div>
  </section>

  <section class="user-lists">

    <ng-container *ngIf="(userInfo$ | async).role === userRoles.USER">
      <div class="list-section">
        <h2 class="heading-2">Visits</h2>
        <ul class="vertical-list">
          <li *ngFor="let visit of visits" class="medium">
            <p>Building name: {{ visit.building.name }}</p>
            <p>Visit date: {{ visit.visit_date | date }}</p>

          </li>
        </ul>
      </div>

      <div class="list-section">
        <h2 class="heading-2">Achievements</h2>
        <ul class="vertical-list">
          <li *ngFor="let achievement of achievements" class="medium">
            <p>Achievement title: {{ achievement.title }}</p>
            <p>Achievement description: {{ achievement.description }}</p>
            <p>Obtained: {{ achievement.obtained_date | date }}</p>

          </li>
        </ul>
      </div>

    </ng-container>

    <ng-container *ngIf="(userInfo$ | async).role === userRoles.ADMIN">
      <div class="user-lists__double">
        <div class="list-section">
          <h2 class="heading-2">Created Buildings</h2>
          <div class="horizontal-list">
            <div class="building-item" *ngFor="let building of createdBuildings">
              <h2 class="heading-2">
                {{ building?.name }}
                <span class="medium" *ngIf="building?.visited">visited</span>
              </h2>
              <p class="medium"><strong>Location:</strong> <br>
                Latitude: {{ building?.location.latitude }} <br>
                Longitude: {{ building?.location.longitude }}
              </p>
              <p class="medium"><strong>Description:</strong> {{ building?.description }}</p>
              <p class="medium"><strong>Owner:</strong> {{ building?.created_by.username }}</p>

              <div>
                <app-sb-button
                  [buttonText]="'Delete Building'"
                  (buttonClicked)="deleteBuilding(building)"
                ></app-sb-button>
              </div>

            </div>

          </div>
        </div>

        <div class="login__main-form">
          <h2 class="heading-2" style="margin-bottom: 32px">Create Building</h2>

          <div class="login__main-form-control">
            <app-sb-input
              [control]="getControl(createBuildingForm, 'name')"
              [controlName]="'Name*'"
              [placeholder]="'Enter building name...'"
            ></app-sb-input>
          </div>

          <div class="login__main-form-control">
            <app-sb-input
              [control]="getControl(createBuildingForm, 'description')"
              [controlName]="'Description*'"
              [placeholder]="'Enter building description...'"
            ></app-sb-input>
          </div>

          <div class="login__main-form-control">
            <app-sb-input
              [control]="getControl(createBuildingForm, 'latitude')"
              [controlName]="'Latitude*'"
              [placeholder]="'Enter building latitude...'"
            ></app-sb-input>
          </div>

          <div class="login__main-form-control">
            <app-sb-input
              [control]="getControl(createBuildingForm, 'longitude')"
              [controlName]="'Longitude*'"
              [placeholder]="'Enter building longitude...'"
            ></app-sb-input>
          </div>
          <div class="login__main-form-submit">
            <app-sb-button
              [buttonText]="'Create building'"
              (buttonClicked)="createBuilding()"
            ></app-sb-button>
          </div>
        </div>

      </div>

    </ng-container>
  </section>
</div>
