<div class="building-page">
  <h1 class="building-page__title heading-1">Currently available buildings</h1>
  <div class="building-list"

  >
    <div class="building-item"
         [ngClass]="{ 'visited': building.visited }"
         *ngFor="let building of buildings">
      <h2 class="heading-2">
        {{ building.name }}
        <span class="medium" *ngIf="building.visited">visited</span>
      </h2>
      <p class="medium"><strong>Location:</strong> {{ building.location }}</p>
      <p class="medium"><strong>Description:</strong> {{ building.description }}</p>
      <p class="medium"><strong>Owner:</strong> {{ building.created_by }}</p>

      <div>
        <app-sb-button
          [buttonText]="'See building'"
        ></app-sb-button>
      </div>

    </div>
  </div>
</div>
